.inputPaginacao {
    border-bottom-width: 1px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-radius: 0px;
    width: 30px;
    padding: 0;
    font-family: "Roboto", sans-serif;
    margin-bottom: 4px;
    outline: none;
    color: rgba(0, 0, 0, 0.54)!important;
}

.ajustarInputPaginacao {
    float: right;
    transform: translateY(-35px);
    color: rgba(0, 0, 0, 0.54)!important;
    font-size: 13px!important;
    max-width: 200px;

    ::ng-deep .mat-form-field-outline {
        .mat-form-field-outline-end {
            margin-top: 3px;
            max-height: 20px!important;
            border-width: 1px;
        }
        .mat-form-field-outline-start {
            margin-top: 3px;
            max-height: 20px!important;
            border-width: 1px;
        }
    };
}