.formulario-produto {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.formulario-inputs {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.input {
  margin-right: 1rem;
}

.formulario-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.w-100 {
  width: 100%;
}